[Unit]
Description=Attic Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/attic-agent
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=syslog
StandardError=syslog
User=pi

[Install]
WantedBy=multi-user.target
