[Unit]
Description=Pool Agent
After=influxdb.service

[Service]
ExecStart=/usr/local/bin/pool-agent
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
